* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	overflow: hidden;
}



label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
    min-height: 100%;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

form {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
input {
	position: absolute;
}

.soustitre {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}