@font-face{
    font-family: NGS;
    src:url(../font/NGS.ttf);
}
@font-face {
    font-family: UECHIGOT;
    src: url(../font/UECHIGOT.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f0f0f0;
    min-height: 200vh;
}
h1{
    color: #C39D63;
    font-family: UECHIGOT;
    font-size: 90px;
}
h4{
    color:#fff;
    font-family: Arial, Helvetica;
}
p{
    color:#fff;
    font-family: Arial, Helvetica;
    text-align: justify;
}
header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 150px;
    background-color: #C39D63;
}
header.sticky{
    padding: 3px 150px;
    background-color: #1B539D;
    border-bottom: solid 0.8px #C39D63;
    z-index: 1;
}

header .logo{
    position: relative;
    transition: 0.6s;
    height: 100px;
}
header.sticky .logo{
    height:70px;
}


/*Menu gauche*/
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
header ul li{
    position: relative; 
    list-style: none;
}
header ul li:hover{
    background-color: #000;
    border-radius: 25px;
    padding-top: 9px;
    padding-bottom: 6px;
}
header.sticky ul li:hover{
    background-color: #fff;
    border-radius: 25px;
    padding-top: 9px;
    padding-bottom: 6px;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 500px;
    font-size: 35px;
    transition: 0.6s;
    font-family: NGS;
}

header.sticky ul li a {
    color: #000;
    font-size: 29px;
}
/*Fin de menu gauche*/






.banniere{
    position: relative;
    width: 100%;
    height: 85vh;
    background: url(../image/bg.jpg);
    background-size: cover;
    z-index: -10;
    margin-bottom: 100px;
}


.first-degrade{
    background: linear-gradient( #f0f0f0,#f0f0f0,#000);
    height: 250px;
}



.titre{
    padding-top: 50px;
    text-align: center;
    
}
#contenu{
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.image-first{
    width: 25%;
}
.degradebas{
    background:linear-gradient(360deg, #f0f0f0,#000);
    height: 60px;
}
.degrade{
    background: linear-gradient( #f0f0f0,#000);
    height: 60px;
}

.confdegrade{
    background: linear-gradient(45deg,#BC2C1A,#1B539D);
    height: 30em;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    border-radius: 60px;
    padding: 0% 6%;
    align-items: center;
}

.button-container{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.button-conf{
    width: 200px;
    height:75px;
    border: none;
    border-radius: 60px;
    background: #FFCF33;
    transition: 0.3s;
    font-family: NGS;
    font-size: 35px;
}
.button-conf:hover{
    width: 210px;
    height: 85px;
    font-size: 38px;
}


footer{
    display : flex;
    position: relative;
    background-color: #1B539D;
    justify-content: flex-start;
    padding: 30px;
    padding-left: 200px;
    gap: 50px;
}
.blocf{
    display: flex;
    flex-direction: column;
    gap: 20px;
}