@font-face{
    font-family: NGS;
    src:url(../font/NGS.ttf);
}
@font-face {
    font-family: UECHIGOT;
    src: url(../font/UECHIGOT.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f0f0f0;
    min-height: 200vh;
}
h1{
    color: #C39D63;
    font-family: UECHIGOT;
    font-size: 9.28vh;
    text-align: center;
}

p{
    color:#fff;
    font-family: Arial, Helvetica;
    text-align: justify;
}


/*----------------Début navbar----------------*/
header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    padding: 12px 150px;
    background-color: #C39D63;
}

header.sticky{
    padding: 3px 150px;
    z-index: 1;
}



/*Debut logo*/
/*changer la valeur des tailles par des % des que possible (quand on aura le logo)*/
header .placementlogo{
    grid-column: 1/2;
    display: flex;
    justify-content: center;

}
header .logo{
    position: relative;
    transition: 0.6s;
    height: 10.31vh;
}
header.sticky .logo{
    height:7.22vh;
}
/*Fin logo*/

/*Menu*/
header ul{
    grid-column: 1/3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
header ul li{
    position: relative; 
    list-style: none;
    border-bottom: solid;
    transition: 0.3s;
    border-bottom-width: 2px;
}
header ul li:hover{
    padding-top: 9px;
    padding-bottom: 6px;
}
header.sticky ul li:hover{
    padding-top: 9px;
    padding-bottom: 6px;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 500px;
    font-size: 35px;
    transition: 0.6s;
    font-family: NGS;
}

header.sticky ul li a {
    font-size: 29px;
}
/*Fin de menu*/

/*-----------Fin navbar---------------*/







.banniere{
    position: relative;
    width: 100%;
    height: 85vh;
    background: url(../image/lepuy-1.jpg);
    background-size: cover;
    z-index: -10;
    margin-bottom: 100px;
    background-attachment: fixed;
}








#contenu{
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10.31vh;
}


/*Prez Evenement*/
.para-image{
    background-image: linear-gradient( rgba(31, 31, 31, 0.6),rgba(31, 31, 31, 0.6)), url("https://images.unsplash.com/photo-1552840687-b25e05d08047?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.image-first{
    width: 25%;
    height: 25% ;
}


/*Confrerie*/
.confdegrade{
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background: linear-gradient(45deg,rgba(188, 44, 26, 0.6),rgba(195, 157, 99, 0.6)), url("https://images.unsplash.com/photo-1552840687-b25e05d08047?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    border-radius: 60px;
    padding: 6% 6%;
    align-items: center;   
    gap: 5vh; 
}

.button-container{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.button-conf{
    width: 200px;
    height:75px;
    border: none;
    border-radius: 60px;
    background: #FFCF33;
    transition: 0.3s;
    font-family: NGS;
    font-size: 35px;
}

.button-conf:hover{
    width: 210px;
    height: 85px;
    font-size: 38px;
}
/*Fin confrerie*/

/*Programme*/
.para-image3{
    background-image: linear-gradient( rgba(31, 31, 31, 0.6),rgba(31, 31, 31, 0.6)), url("../image/bg.jpg");
}
/*Fin Programme*/


footer{
    display : flex;
    position: relative;
    background-color: #1f1f1f;
    justify-content: flex-start;
    padding: 30px;
    padding-left: 200px;
    gap: 50px;
    margin-top: 20px;
}
.blocf{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer div h5 a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica;
}


/*Debut de mettre un titre*/
.epreuve-container{
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background: linear-gradient(45deg,rgba(31, 31, 31, 0.6),rgba(31, 31, 31, 0.6)), url("https://images.unsplash.com/photo-1552840687-b25e05d08047?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    border-radius: 60px;
    padding: 6% 6%;
    align-items: center;   
    gap: 5vh; 
}

/*Fin de mettre un titre*/
