
@font-face{
    font-family: NGS;
    src:url(../font/NGS.ttf);
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(45deg,rgba(188, 44, 26, 0.6),rgba(195, 157, 99, 0.6));
}

.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

 .container h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
}

.container a{
    text-decoration: none;
    background: #ffcf33;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover{
    background: #ffcf33;
}